@model Nganhtinhoc.Models.Tuyendung

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/admin_layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <div class="container">
        <div>
            <h4>Tuyendung</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.Label("Tiêu đề")
                </dt>

                <dd>
                    <div class="card mb-4 py-3 border-bottom-danger">
                        <div class="card-body">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    @Html.DisplayFor(model => model.tieude)s
                                </font>
                            </font>
                        </div>
                    </div>
                </dd>

                <dt>
                    @Html.Label("meta")
                </dt>

                <dd>
                    <div class="card mb-4 py-3 border-bottom-danger">
                        <div class="card-body">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    @Html.DisplayFor(model => model.meta)
                                </font>
                            </font>
                        </div>
                    </div>
                </dd>

                <dt>
                    @Html.Label("Nội dung")
                </dt>

                <dd>
                    <div class="card mb-4 py-3 border-bottom-danger">
                        <div class="card-body">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    @Html.DisplayFor(model => model.vanban)
                                </font>
                            </font>
                        </div>
                    </div>
                </dd>

                <dt>
                    @Html.Label("Ảnh đại diện")
                </dt>

                <dd>
                    <img src="~/Content/upload/img/tuyendung/@Model.img" width="300px" />
                </dd>
                <dt>
                    @Html.Label("Ẩn hoặc hiện")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.hide)
                </dd>

        </div>
    </div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
