@model IEnumerable<Nganhtinhoc.Models.Tuyendung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/admin_layout.cshtml";
}
@*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
@Html.ActionLink("Details", "Details", new { id = item.id }) |
@Html.ActionLink("Delete", "Delete", new { id = item.id })*@
<h2>Index</h2>
<div class="container">
    <p style="float:right">
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
    </p>
</div>
<div class="card-body">
    <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="col-sm-12">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Tên: kích hoạt để sắp xếp cột giảm dần" style="width: 163px;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">ID</font>
                                </font>
                            </th>
                            <th>Tiêu đề</th>
                            <th>Hide</th>
                            <th style="width:80px">Chức năng</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr role="row" class="odd">
                                <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@i.id</font></font></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img src="~/Content/upload/img/tuyendung/@i.img" width="100px" /></font></font></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@(i.hide.GetValueOrDefault(false) ? "Hiển thị" : "Ẩn")</font></font></td>
                                <td>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            @Html.ActionLink(" ", "Edit", new { id = i.id }, new { @class = "fas fa-pen", @Style = "color:	#00BFFF;" })@*&ensp;&ensp;*@
                                            @Html.ActionLink(" ", "Details", new { id = i.id }, new { @class = "fas fa-eye", @Style = "color:#0033CC	;" })@*&ensp;&ensp;*@
                                            @Html.ActionLink(" ", "Delete", new { id = i.id }, new { @class = "fas fa-trash", @Style = "color:#980000 	;" })
                                        </font>
                                    </font>
                                </td>
                                @*<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 34.000</font></font></td>*@
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
