@model Nganhtinhoc.Models.Nganh

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/admin_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nganh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tennganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tennganh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.khoahoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khoahoc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.manganh }) |
    @Html.ActionLink("Back to List", "Index")
</p>
