@model Nganhtinhoc.Models.Tailieu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/admin_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tailieu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tentailieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tentailieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.file)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giaovien.manganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giaovien.manganh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
