@model Nganhtinhoc.Models.Thongbao

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/admin_layout.cshtml";
}

<h2>Details</h2>

<div style="margin-left:100px">
    <h4>Thongbao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tiêu đề")
        </dt>

        <dd>
            <div class="card mb-4 py-3 border-left-danger">
                <div class="card-body">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            @Html.DisplayFor(model => model.tieude)
                        </font>
                    </font>
                </div>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vanban)
        </dt>

        <dd>
            <div class="card mb-4 py-3 border-left-danger">
                <div class="card-body">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            @Html.DisplayFor(model => model.vanban)
                        </font>
                    </font>
                </div>
            </div>  
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            <img src="~/Content/upload/img/thongbao/@Model.img" width="200px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            <div class="card mb-4 py-3 border-left-danger">
                <div class="card-body">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            @Html.DisplayFor(model=>model.meta)
                        </font>
                    </font>
                </div>
            </div>
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.gioithieu)
        </dt>

        <dd>
            <div class="card mb-4 py-3 border-left-danger">
                <div class="card-body">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            @Html.DisplayFor(model => model.gioithieu)
                        </font>
                    </font>
                </div>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
