@model Nganhtinhoc.Models.Thongbao

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/admin_layout.cshtml";
}

<h2>Details</h2>
<div class="container">
    <h4>Thongbao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Tiêu đề")
        </dt>

        <dd>
            <div class="card mb-4 py-3 border-bottom-danger">
                <div class="card-body">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            @Html.DisplayFor(model => model.tieude)
                        </font>
                    </font>
                </div>
            </div>          
        </dd>

        <dt>
            @Html.Label("Văn bản")
        </dt>

        <dd>
            <div class="card mb-4 py-3 border-bottom-danger">
                <div class="card-body">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            @Html.DisplayFor(model => model.vanban)

                        </font>
                    </font>
                </div>
            </div> 
        </dd>

        <dt>
            @Html.Label("Ảnh đại diện")
        </dt>

        <dd>
           <img src="~/Content/upload/img/thongbao/@Model.img" width="300px"/>
        </dd>

        <dt>
            @Html.Label("Meta")
        </dt>

        <dd>
            <div class="card mb-4 py-3 border-bottom-danger">
                <div class="card-body">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            @Html.DisplayFor(model => model.meta)
                        </font>
                    </font>
                </div>
            </div>     
        </dd>

        <dt>
            @Html.Label("Giới thiệu")
        </dt>

        <dd>
            <div class="card mb-4 py-3 border-bottom-danger">
                <div class="card-body">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            @Html.DisplayFor(model => model.gioithieu)
                        </font>
                    </font>
                </div>
            </div>
        </dd>

        <dt>
            @Html.Label("Ngày đăng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay)
        </dd>

        <dt>
            @Html.Label("Ẩn hoặc hiện")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
