@model Nganhtinhoc.Models.Thongbao

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/admin/Views/Shared/admin_layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Thongbao1s", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container" style="text-align:center">
        <div class="form-horizontal">
            <h4>Thông Báo Ngành</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tiêu đề</font></font></h6>
                            </div>
                            <div class="card-body">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        @Html.EditorFor(model => model.tieude, new { htmlAttributes = new { @class = "form-control" } })
                                        @*@Html.ValidationMessageFor(model => model.tieude, "", new { @class = "text-danger" })*@
                                    </font>
                                </font>
                            </div>
                        </div>
                    </div>
                    @*@Html.LabelFor(model => model.tieude, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.tieude, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.tieude, "", new { @class = "text-danger" })
                        </div>*@
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.meta, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">meta</font></font></h6>
                            </div>
                            <div class="card-body">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        @Html.EditorFor(model => model.meta, new { htmlAttributes = new { @class = "form-control" } })
                                        @*@Html.ValidationMessageFor(model => model.meta, "", new { @class = "text-danger" })*@
                                    </font>
                                </font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.meta, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giới thiệu</font></font></h6>
                            </div>
                            <div class="card-body">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        @Html.EditorFor(model => model.gioithieu, new { htmlAttributes = new { @class = "form-control" } })
                                    </font>
                                </font>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <div class="form-group" style="margin-top:50px">
                                @*@Html.LabelFor(model => model.meta, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hình nên đại diện</font></font></h6>
                                    </div>
                                    <div class="card-body">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                <input type="file" name="img" id="img" accept=".jpg,.png,.gif,.jpeg,.bmp" />
                                            </font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12"><img src="~/Content/upload/img/thongbao/@Model.img" class="img-thumbnail" /></div>
                    </div>
                   </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.meta, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nội dung</font></font></h6>
                            </div>
                            <div class="card-body">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        @Html.TextAreaFor(model => model.vanban, new { htmlAttributes = new { @class = "form-control" } })
                                    </font>
                                </font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.Label("Hiển thị", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">

                            @{
                                bool hide = true;
                            }
                            <p> @Html.CheckBoxFor(model => hide)</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section _Footer
{
    <script src="~/Areas/admin/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Areas/admin/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.replace("vanban");
        var editor = CKEDITOR.replace("vanban", { height: '600px' });
        customConfig: '/Areas/admin/Content/ckeditor/config.js';
    </script>
    <script>
        $(function () {
            $("#tieude").keyup(function () {
                var text = $.trim($(this).val().toLowerCase());
                var text_create;
                text_create = text.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a").replace(/\ /g, '-').replace(/đ/g, "d").replace(/đ/g, "d").replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y").replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u").replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ.+/g, "o").replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ.+/g, "e").replace(/ì|í|ị|ỉ|ĩ/g, "i");
                $('#meta').val(text_create);
            }).keyup();
        });
    </script>
}
