@model Nganhtinhoc.Models.Sinhvien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/admin_layout.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Cards</h1>
    </div>

    <div class="row">
        <div class="col-lg-4">

            <!-- Dropdown Card Example -->
            <!-- Card Header - Dropdown -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Tài khoản hệ thống SV</h6>
                </div>
                <div class="card-body" style="text-align:center">
                    <p><strong>Tài khoản:</strong> @Model.masinhvien</p>
                    <p><strong>Mật khẩu:</strong> @Model.pass</p>
                </div>
            </div>
            <!-- Card Body -->
        </div>
        <div class="col-lg-8">

            <!-- Dropdown Card Example -->
            <!-- Card Header - Dropdown -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Thông Tin Sinh Viên</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6"><strong>Tên Sinh Viên:</strong>  @Model.tensinhvien</div>
                        <div class="col-lg-6"><strong>Mã Sinh Viên:</strong> @Model.masinhvien</div>
                        <div class="col-lg-6"><strong>Ngành Học:</strong>  @Model.Nganh.tennganh</div>
                        <div class="col-lg-6"><strong>Khóa hoc: </strong> @Model.Nganh.khoahoc</div>
                    </div>

                </div>
            </div>
            <!-- Card Body -->

        </div>
    </div>
    @Html.Action("gat_diemsv", "Sinhviens", new { ma = Model.masinhvien })
    <p>
        @Html.ActionLink("Quay lại", "Index", "Sinhviens", new { @class = "btn btn-primary" })
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Xóa
        </button>

        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Thông Báo</h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Bạn có muốn xóa sinh viên này cùng với bảng điểm không ?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Có" class="btn btn-danger" />
                            </div>
                            <div class="form-actions no-color">
                            </div>
                        }
                        <button style="width=100px" type="button" class="btn btn-danger" data-dismiss="modal">Không</button>
                    </div>

                </div>
            </div>
        </div>
    </p>
