@model Nganhtinhoc.Models.Sinhvien

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/admin_layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<h2>Details</h2>

<div class="container-fluid">

    <!-- Page Heading -->
    @*<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Cards</h1>
        </div>*@

    <div class="row">
        <div class="col-lg-4">

            <!-- Dropdown Card Example -->
            <!-- Card Header - Dropdown -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Tài khoản hệ thống SV</h6>
                </div>
                <div class="card-body" style="text-align:center">
                    <p><strong>Tài khoản:</strong> @Model.masinhvien</p>
                    <p><strong>Mật khẩu:</strong> @Model.pass</p>
                </div>
            </div>
            <!-- Card Body -->
        </div>
        <div class="col-lg-8">

            <!-- Dropdown Card Example -->
            <!-- Card Header - Dropdown -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Thông Tin Sinh Viên</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6"><strong>Tên Sinh Viên:</strong>  @Model.tensinhvien</div>
                        <div class="col-lg-6"><strong>Mã Sinh Viên:</strong> @Model.masinhvien</div>
                        <div class="col-lg-6"><strong>Ngành Học:</strong>  @Model.Nganh.tennganh</div>
                        <div class="col-lg-6"><strong>Khóa hoc: </strong> @Model.Nganh.khoahoc</div>
                    </div>

                </div>
            </div>
            <!-- Card Body -->

        </div>
    </div>
    @Html.Action("gat_diemsv", "Sinhviens", new { ma = Model.masinhvien })
    <p>
        @Html.ActionLink("Quay lại", "Index", "Sinhviens", new { @class = "btn btn-primary" })
        @Html.ActionLink("Sữa", "Edit", "Sinhviens", new { id = Model.masinhvien }, new { @class = "btn btn-primary" })
    </p>
</div>
